<a href="https://colab.research.google.com/github/likith11981/likith/blob/main/Big_sales_prediction_Using_Random_Forest_Regressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Library**

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

**Import CSV as DataFrame**

In [ ]:
df = pd.read_csv(r'https://github.com/ybifoundation/Dataset/raw/main/Big%20Sales%20Data.csv')

**Get first five Rows of DataFrame**

In [ ]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDT36,12.3,Low Fat,0.111448,Baking Goods,33.4874,OUT049,1999,Medium,Tier 1,Supermarket Type1,436.608721
1,FDT36,12.3,Low Fat,0.111904,Baking Goods,33.9874,OUT017,2007,Medium,Tier 2,Supermarket Type1,443.127721
2,FDT36,12.3,LF,0.111728,Baking Goods,33.9874,OUT018,2009,Medium,Tier 3,Supermarket Type2,564.598400
3,FDT36,12.3,Low Fat,0.000000,Baking Goods,34.3874,OUT019,1985,Small,Tier 1,Grocery Store,1719.370000
4,FDP12,9.8,Regular,0.045523,Baking Goods,35.0874,OUT017,2007,Medium,Tier 2,Supermarket Type1,352.874000

**Get Information of DataFrame**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                11815 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                14204 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          14204 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.3+ MB

**Get column Names**

In [ ]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

**Get Summary Statistics**

In [ ]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11815.000000,14204.000000,14204.000000,14204.000000,14204.000000
mean,12.788355,0.065953,141.004977,1997.830681,2185.836320
std,4.654126,0.051459,62.086938,8.371664,1827.479550
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,922.135101
50%,12.500000,0.054021,142.247000,1999.000000,1768.287680
75%,16.750000,0.094037,185.855600,2004.000000,2988.110400
max,30.000000,0.328391,266.888400,2009.000000,31224.726950

**Get Missing Values Complete**

In [ ]:
df['Item_Weight'].fillna(df.groupby(['Item_Type'])['Item_Weight'].transform('mean'), inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                14204 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                14204 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          14204 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.3+ MB

In [ ]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,14204.000000,14204.000000,14204.000000,14204.000000,14204.000000
mean,12.790642,0.065953,141.004977,1997.830681,2185.836320
std,4.251186,0.051459,62.086938,8.371664,1827.479550
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.300000,0.027036,94.012000,1987.000000,922.135101
50%,12.800000,0.054021,142.247000,1999.000000,1768.287680
75%,16.000000,0.094037,185.855600,2004.000000,2988.110400
max,30.000000,0.328391,266.888400,2009.000000,31224.726950

In [ ]:
import seaborn as sns
sns.pairplot(df)

**Get categories and counts of categorical variables**

In [ ]:
df[['Item_Identifier']].value_counts()

In [ ]:
df[['Item_Fat_Content']].value_counts()

In [ ]:
df.replace({'Item_Fat_Content': {'LF':'Low Fat', 'reg': 'Regular','low fat' : 'Low Fat'}}, inplace=True)

In [ ]:
df[['Item_Fat_Content']].value_counts()

In [ ]:
df.replace({'Item_ Fat_Content': {'Low Fat': 0, 'Regular': 1}}, inplace=True)

In [ ]:
df[['Item_Type']].value_counts()

In [ ]:
df.replace({'Item_Type':{'Fruits and Vegetables':0, 'Snack Foods':0, 'Household':1, 
'Frozen Foods': 0, 'Dairy': 0, 'Baking Goods' : 0, 'Canned': 0, 'Health and Hygiene': 1, 'Meat': 0, 'Soft Drinks': 0, 
'Breads': 0, 'Hard Drinks' : 0, 'Others' : 2, 'Starchy Foods': 0, 'Breakfast': 0, 'Seafood' : 0 }},inplace=True)

In [ ]:
df[['Item_Type']].value_counts()

In [ ]:
df[['Outlet_Identifier']].value_counts()

In [ ]:
df.replace({'Outlet Identifier': {'OUTO27': 0, 'OUT813': 1, 'OUT049': 2, 
'OUT046': 3, 'OUT835' : 4, 'OUT045' : 5, 'OUT018': 6, 'OUT017': 7, 'OUT010': 8, 'OUT819' : 9, }},inplace=True)

In [ ]:
df[['Outlet_Identifier']].value_counts()

In [ ]:
df[['Outlet_Size']].value_counts()

In [ ]:
df.replace({'Outlet_Size': {'Small': 0, 'Medium': 1, 'High': 2}}, inplace=True)

In [ ]:
df[['Outlet_Size']].value_counts()

In [ ]:
df[['Outlet_Location_Type']].value_counts()

In [ ]:
df.replace({'Outlet_Location_Type': {'Tier 1': 0, 'Tier 2': 1, 'Tier 3': 2}}, inplace=True)

In [ ]:
df[['Outlet_Location_Type']].value_counts()

In [ ]:
df[['Outlet_Type']].value_counts()

In [ ]:
df.replace({'Outlet_Type': {'Grocery Store': 0, 'Supermarket Type1': 1, 'Supermarket Type2': 2, 'Supermarket Type3': 3}}, inplace=True)

In [ ]:
df[['Outlet_Type']].value_counts()

In [ ]:
df.head()

In [ ]:
df.info()

**Get shape of DataFrame**

In [ ]:
df.shape

**Define y(dependent or label or target variable) and X(independent or features or attribute Variable)**

In [ ]:
y=df['Item_Outlet_Sales']

In [ ]:
y.shape

In [ ]:
y

In [ ]:
X=df[['Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type', 'Item_MRP', 
      'Outlet_Identifier', 'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type','Outlet_Type']]

**or use .drop function to define X**

In [ ]:
X = df.drop (['Item_Identifier', 'Item_Outlet_Sales'], axis=1)

In [ ]:
X.shape

In [ ]:
X

**Get X Variable Standardized**

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
X_std = df[['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year' ]]

In [ ]:
X_std = sc.fit_transform(X_std)

In [ ]:
X_std

In [ ]:
X[['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year' ]] = pd.DataFrame(X_std, columns=[['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year' ]])

In [ ]:
X

**Get Train Test split**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size= 0.9, random_state = 192529)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

**Get Model Train**

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rfr = RandomForestRegressor(random_state = 192529)

In [ ]:
rfr.fit(X_train, y_train)